In [1]:
import pandas as pd, tkinter as tk
from tkinter import *
from openpyxl import load_workbook
from tkinter import messagebox
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
from statistics import mean
from PIL import Image, ImageTk
from openpyxl.workbook import Workbook
from datetime import date

In [4]:
client = [[1, 'Abeera']]

In [5]:
client.append([2,'Qasim'])

In [6]:
client

[[1, 'Abeera'], [2, 'Qasim']]

In [7]:
# Create the pandas DataFrame
df = pd.DataFrame(columns = ['CLIENT_ID','DATE', 'DETAILS OF BILL','PAGE NO. ON MANUAL LEDGER','RECIEPT NUMBER','DEBIT','CREDIT','CREDIT DETAILS','BALANCE'])
df2 = pd.DataFrame(columns = ['CLIENT_ID','DATE', 'DETAILS OF BILL','PAGE NO. ON MANUAL LEDGER','RECIEPT NUMBER','DEBIT','CREDIT','CREDIT DETAILS','BALANCE'])

In [14]:
#Insert Rows
details = "20L1 20 Rolls || 23 L2 14 Rolls" # Entry by Stock and User
page = '3'
debit = 20 # Entry by user of debit
credit = 5 # Entry by user of credit
cred_dets = 'Cash'
rcp_no = 1 # Entry by user of receipt number or bill # for now but should be the bill number from billing book
balance = 100
balance = balance + debit - credit
df.loc[-1] = [client[0][0],date.today(),details,page,rcp_no,debit,credit,cred_dets,balance]  # adding a row

df.index = df.index + 1  # shifting index
df = df.sort_index()  # sorting by index
df

,CLIENT_ID,DATE,DETAILS OF BILL,PAGE NO. ON MANUAL LEDGER,RECIEPT NUMBER,DEBIT,CREDIT,CREDIT DETAILS,BALANCE
0,1,2021-12-23,20L1 20 Rolls || 23 L2 14 Rolls,3,1,20,5,Cash,115
1,1,2021-12-23,20L1 20 Rolls || 23 L2 14 Rolls,3,1,20,5,Cash,115
2,1,2021-12-23,20L1 20 Rolls || 23 L2 14 Rolls,3,1,20,5,Cash,115
3,1,2021-12-23,20L1 20 Rolls || 23 L2 14 Rolls,3,1,20,5,Cash,115
4,1,2021-12-23,20L1 20 Rolls || 23 L2 14 Rolls,3,1,20,5,Cash,115
5,1,2021-12-23,20L1 20 Rolls || 23 L2 14 Rolls,3,1,20,5,Cash,115
6,1,2021-12-23,20L1 20 Rolls || 23 L2 14 Rolls,3,1,20,5,Cash,115

In [73]:
debit = 5 # Entry by user of debit
credit = 120 # Entry by user of credit
cred_dets = 'Cheques'
rcp_no = 2 # Entry by user of receipt number or bill # for now but should be the bill number from billing book
balance = balance + debit - credit
df.loc[-1] = [client[0][0],date.today(),details,page,rcp_no,debit,credit,cred_dets,balance]  # adding a row

df.index = df.index + 1  # shifting index
df = df.sort_index()  # sorting by index
df

,CLIENT_ID,DATE,DETAILS OF BILL,PAGE NO. ON MANUAL LEDGER,RECIEPT NUMBER,DEBIT,CREDIT,CREDIT DETAILS,BALANCE
0,1,2021-11-14,20L1 20 Rolls || 23 L2 14 Rolls,3,2,5,120,Cheques,-230
1,1,2021-11-14,20L1 20 Rolls || 23 L2 14 Rolls,3,2,5,120,Cheques,-115
2,1,2021-11-14,20L1 20 Rolls || 23 L2 14 Rolls,3,2,5,120,Cheques,0
3,1,2021-11-14,20L1 20 Rolls || 23 L2 14 Rolls,3,1,20,5,Cash,115

In [15]:
df.iloc[1:4]

,CLIENT_ID,DATE,DETAILS OF BILL,PAGE NO. ON MANUAL LEDGER,RECIEPT NUMBER,DEBIT,CREDIT,CREDIT DETAILS,BALANCE
1,1,2021-12-23,20L1 20 Rolls || 23 L2 14 Rolls,3,1,20,5,Cash,115
2,1,2021-12-23,20L1 20 Rolls || 23 L2 14 Rolls,3,1,20,5,Cash,115
3,1,2021-12-23,20L1 20 Rolls || 23 L2 14 Rolls,3,1,20,5,Cash,115

In [61]:

df2.loc[-1] = [client[1][0],date.today(),'2','3','4','5','6','7','8']  # adding a row
df2.index = df2.index + 1  # shifting index
df2 = df2.sort_index()  # sorting by index
df2

,CLIENT_ID,DATE,DETAILS OF BILL,PAGE NO. ON MANUAL LEDGER,RECIEPT NUMBER,DEBIT,CREDIT,CREDIT DETAILS,BALANCE
0,2,2021-11-14,2,3,4,5,6,7,8

In [1]:
fluting = [[18, 200],[20, 100]]
l1 = [[18, 200],[20, 100]]

In [3]:
fluting[0][0]

18

In [ ]:
fluting_reels = [[18, '200 Kg'],[18, '100 Kg']]

In [2]:
import pandas as pd
# Create the pandas DataFrame
cash = pd.DataFrame(columns = ['CLIENT_ID','DATE', 'DETAILS OF BILL','RECIEPT NUMBER','DEBIT','CREDIT','CREDIT DETAILS','BALANCE'])

In [ ]:
#Insert Rows
details = "20L1 20 Rolls || 23 L2 14 Rolls" # Entry by Stock and User
debit = 20 # Entry by user of debit
credit = 5 # Entry by user of credit
cred_dets = 'Cash'
rcp_no = 1 # Entry by user of receipt number or bill # for now but should be the bill number from billing book
balance = 100
balance = balance + debit - credit
df.loc[-1] = [client[0][0],date.today(),details,rcp_no,debit,credit,cred_dets,balance]  # adding a row

df.index = df.index + 1  # shifting index
df = df.sort_index()  # sorting by index
df

In [ ]:
rolls = size * quantity * rate

In [ ]:
for i in range 
details = size.getText() + Type.getText() + Quantity.getText() + Item.getText() + " || " +

In [25]:
import pandas as pd
from PyQt5 import QtCore, QtGui, QtWidgets
from PyQt5.QtWidgets import QWidget, QTableWidgetItem, QTableWidget
from PyQt5.uic import loadUi
from PyQt5.QtCore import QDate

from openpyxl import load_workbook
from pandas import Series, DataFrame
import matplotlib.pyplot as plt
from PIL import Image, ImageTk
from datetime import datetime
from openpyxl.workbook import Workbook
from datetime import date

CashCustomers = pd.read_excel('CASH.xlsx', index_col=0, sheet_name='CASH')

In [26]:
CashCustomers

,CLIENT_ID,CLIENT_NAME,DETAILS_OF_BILL,RECIEPT_NUMBER,DEBIT,RENT,CREDIT,CREDIT_DETAILS,BALANCE
DATE,,,,,,,,,
2022-02-17,1,self.clientName.toPlainText(),str(updated),1,self.totalTextField.toPlainText(),self.RentTextField.toPlainText(),self.CreditTextField.toPlainText(),self.CreditDetailsTextField.toPlainText(),str(float(DEBIT)-float(CREDIT))

In [22]:
def write_excel(filename, sheetname, dataframe):
    with pd.ExcelWriter(filename, engine='openpyxl', mode='a') as writer:
        workBook = writer.book
        try:
            try:
                workBook.remove(workBook[sheetname])
            except:
                print('Worksheet does not exist')

        finally:
            dataframe.to_excel(writer, sheet_name=sheetname, index=False,header=True)
            writer.save()

In [8]:
len(CashCustomers)

0

In [23]:
def cashbill( ):
    global CashCustomers
    DATE= date.today()
    CLIENT_ID='1'
    CLIENT_NAME='self.clientName.toPlainText()'
    DETAILS_OF_BILL='str(updated)'
    RECIEPT_NUMBER='1'
    DEBIT='self.totalTextField.toPlainText()'
    RENT='self.RentTextField.toPlainText()'
    CREDIT= 'self.CreditTextField.toPlainText()'
    CREDIT_DETAILS='self.CreditDetailsTextField.toPlainText()'
    BALANCE='str(float(DEBIT)-float(CREDIT))'
    text = 'CASH'
    print(CashCustomers)
    CashCustomers.loc[-1] = [DATE, CLIENT_ID,CLIENT_NAME, DETAILS_OF_BILL,RECIEPT_NUMBER,DEBIT,RENT,CREDIT,CREDIT_DETAILS,BALANCE]
    CashCustomers.index = CashCustomers.index + 1  # shifting index
    CashCustomers = CashCustomers.sort_index()  # sorting by index
    print(CashCustomers)

    write_excel('CASH.xlsx', text,CashCustomers)

In [24]:
cashbill()

Empty DataFrame
Columns: [DATE, CLIENT_ID, CLIENT_NAME, DETAILS_OF_BILL, RECIEPT_NUMBER, DEBIT, RENT, CREDIT, CREDIT_DETAILS, BALANCE]
Index: []
         DATE CLIENT_ID                    CLIENT_NAME DETAILS_OF_BILL  \
0  2022-02-17         1  self.clientName.toPlainText()    str(updated)

  RECIEPT_NUMBER                              DEBIT  \
0              1  self.totalTextField.toPlainText()

                               RENT                              CREDIT  \
0  self.RentTextField.toPlainText()  self.CreditTextField.toPlainText()

                              CREDIT_DETAILS                          BALANCE
0  self.CreditDetailsTextField.toPlainText()  str(float(DEBIT)-float(CREDIT))